<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adaptadores">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Adaptadores">
        <activity android:name=".Adaptadores.MainActivity2"></activity>
        <activity android:name=".Activitys.RestaurantsActivity" />
        <activity android:name=".Activitys.MapsActivity" />
        <activity android:name=".Activitys.HotelesActivity" />
        <activity android:name=".Activitys.DestinosActivity" />
        <activity android:name=".Activitys.AgenciasActivity" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/Theme.Adaptadores.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>